.container-fluid {
  position: fixed;
  z-index: 6;
  width: 100%;
  height: auto;
  padding: 12px 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  background-color: $white;
  @media only screen and (max-width: 768px) {
    padding: 10px 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: flex;
      align-items: center;
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
      }
      span {
        font-family: $my-font;
        font-size: 28px;
        font-weight: 700;
        color: $black;
        margin-left: 8px;
        @media only screen and (max-width: 768px) {
          font-size: 24px;
        }
      }
    }
    .menu-links {
      display: flex;
      li {
        &:not(:last-child) {
          margin-right: 25px;
        }
        a {
          font-size: 18px;
          font-weight: 600;
          color: $paragrf-color;
          transition: all 0.5s ease;
          &:hover {
            color: $btnHover;
          }
        }
      }
    }
  }
}
