// F O N T S
$my-font: 'Mulish', sans-serif;

// C O L O R S
$black: #151b26;
$white: #ffffff;
$paragrf-color:#3f3f3f;
// $paragrf-color:#273240;
$banner-background:#F4F6F6;
$bordertable: #cbd4db;
$btnHover:#736bc4;
